.footer {
  background-color: #343a40;
  text-align: center;
  padding: 50px 0;
}
.footer h1 {
  color: #ffffff;
}
.footer__img {
  background-color: #ffffff;
  display: flex;
  max-width: 1200px;
  margin: auto;
}
.footer__img img {
  padding: 30px 20px;
  width: 33.33%;
}
