.header {
  background-color: #343b3f;
}
.header__content {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  align-items: center;
  max-width: 95%;
  margin: auto;
  height: 70px;
}

.header li {
  display: inline;
}
.header__content h1 {
  margin: 0;
  font-size: 25px;
}
.header__content ul {
  margin: 0;
  padding: 0;
}
.header__content li {
  padding: 10px;
}
.header__content a {
  text-decoration: none;
  color: #ffffff;
}
.header__content .item {
  color: #666b6f;
}
.header__content .item:hover {
  color: #b5b7b9;
}
