.best__lp {
  text-align: center;
  padding-top: 40px;
}
.team {
  display: flex;
}
.team__content {
  width: 25%;
  margin: 10px 30px 50px 30px;
  border: 1px solid #d9dadb;
  border-radius: 5px;
}
.team__content img {
  width: 100%;
  height: 300px;
}
.team__item {
  text-align: center;
  padding: 20px;
}
.team__item h1 {
  font-size: 28px;
}
.team__item button {
  margin-right: 5px;
  border-radius: 2px;
  border: none;
  padding: 5px 10px;
}
.team__item button:nth-of-type(1) {
  background-color: #037bfe;
}
.team__item button:nth-of-type(2) {
  background-color: #dd3444;
}
