.content {
  background-color: #343a40;
}
.best {
  color: #ffffff;
  text-align: center;
  padding-top: 40px;
}
.list {
  display: flex;
}
.list__content {
  width: 25%;
  background-color: #ffffff;
  margin: 10px 30px 50px 30px;
}
.list__content img {
  width: 100%;
  height: 300px;
}
.list__item {
  text-align: center;
  padding: 20px;
}
.list__item h1 {
  font-size: 28px;
}
.list__item button {
  margin-right: 5px;
  border-radius: 2px;
  border: none;
  padding: 5px 10px;
}
.list__item button:nth-of-type(1) {
  background-color: #037bfe;
}
.list__item button:nth-of-type(2) {
  background-color: #dd3444;
}
