.title {
  max-width: 1200px;
  margin: auto;
  display: flex;
}
.title__content {
  width: 33.33%;
  padding-right: 80px;
}
.title__content img {
  height: 500px;
  width: 100%;
}
.title__item {
  border: 1px solid #dfdfdf;
  padding: 20px;
}
.title__item h1 {
  font-size: 28px;
}
.title__item button {
  background-color: #037bfe;
  color: #ffffff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}
.title__item button:hover {
  background-color: #0331fe;
}
